body{
  font-family: poppins;
}

.App{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
  justify-items: center;
  gap: 20px;
}

.container img{
  width:100%;
  object-fit: cover;
  height: 500px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeButton{
  margin-bottom: 10px;
}

.movie-sum{
  margin-top: 0;
}

.nut{
  margin-left: 10px;
}

.buts{
   position: relative !important;
   left: 15px !important;
   display: inline !important;
   margin: 0 !important;
   padding: 0 !important;
   font-size: 12px !important;
   font-weight: 700 !important;
   cursor: pointer !important;
   border: none !important;;
}


.content{
  padding: 0 20px;
}

.container{
    border: 1px solid grey;
    width: 350px;
    position: relative;
}

button .png{
   width: 20px;
   height: 20px;
}


span{
  font-size: 14px;
}

.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin: 10px auto;
}

.details-icon{
  position: relative;
  left: 30px !important;
  top: 3px !important;
}

.add-Button{
  margin-top: 10px !important;
  padding: 5px ;
  text-align: center;
}

.contain{
  text-align: center;
  width: 400px;
}

.contain Button{
  padding: 10px !important;
  width: 100%;
  margin-bottom: 20px;
}

Button{
  border: 1px solid lightblue !important;
  margin-right: 10px !important;
}

.input{
  margin-bottom: 10px !important;
  padding: 0 !important;
}


.not-found{
  text-align: center;
  margin: auto;
}

.details-icon{
  cursor: pointer !important;
}